# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
myenv/

# Ignore Docker-related files
.dockerignore
Dockerfile
docker-compose.yml

# Ignore Git and IDE files
.git/
.gitignore
.vscode/
*.swp